{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}

<section class="ftco-section">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-6 mb-5 ftco-animate">
    				<a href="{{ product.get_absolute_url }}" class="image-popup"><img src="
    				    {% if product.image %}
                           {{ product.image.url }}
                        {% else %}
                          {% static 'image/no_image.png' %}
                        {% endif %}" class="img-fluid" alt="Kokki Template"></a>
    			</div>
    			<div class="col-lg-6 product-details pl-md-5 ftco-animate">
    				<h3>{{product.name}}</h3>
    				<p class="price"><span>&#8373;{{product.price}}</span></p>
    				<p>{{product.description|linebreaks}}</p>
					<br>
					<br>

					<div class="row mt-4">
							<div class="w-100"></div>
	          				<div class="w-100"></div>
							<form action="{% url 'cart:cart_add' product.id %}" method="post">
								{{ cart_product_form }}
								{% csrf_token %}
								<input type="submit" value="Add to Cart" class="btn btn-black py-3 px-5">
							</form>
					</div>

				</div>
			</div>
		</div>
</section>

{% endblock %}